data/
checkpoints/
dinov3/
Depth_Flow_Deeplearning/
runs/
train_checkpoints/
training_checkpoints/
alt_cuda_corr/
*.zip
*.tar.gz
*.pth
*.ckpt
pretrain/
result/
Depth_Flow_Deeplearning/__pycache__/
*.pyc
*.yaml
*.sh
result_test/